extends ../layout/index

block slider
    .slider
        h1 Rio de Janeiro
        em aventura

block contenido
    main.container.mt-5 
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, libero.

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum placeat consequatur dolor error molestiae, necessitatibus architecto nostrum reprehenderit commodi labore.
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", class="img-fliud")
        h2.text-center.mb-5 Proximos Viajes
        include ../layout/parcials/viajes
        
    .descuento
        .container
            .row
                .col-md-6
                    .contenido
                        h3 5% de Descuento
                        p.titulo Viaje a Canada
                        p.fecha 20 de Marzo 2019 - 28 de Marzo de 2016
                        p.precio $2.500USD
    
    .container
        h2.text-center.my-5 Experiencias de nuestros clientes
        include ../layout/parcials/testimoniales